<!-- index.ejs -->
<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
   <div>Hallo</div>
   <div>
    <%= message %>
   </div>

   <ul>
    <% messages.forEach((message) => { %>
      <li><%=message.text%></li>
    <button type="button" onclick="window.location.href='/details/<%= message.id %>'">Details</button>
     <% }) %>    
   </ul>

   <a href="/new">Add new message</a>
  
  </body>
</html>
